:root {
    --primary-text: #878787;
    --transparent-black: #00000080;
    --white: #ffffff;
    --transparent-white: #F5F5F5E6;
    --sky-blue: #4DA5F6;
    --light-grey: #d1d1cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
}

img {
    display: block;
}

#top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 5%;
    margin-bottom: 2%;
}

nav {
    color: var(--primary-text);
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2.5rem;
}

li:hover {
    cursor: pointer;
}

#top-logo {
    width: 156px;
    height: 157px;
    border-radius: 21px;
    margin-right: 50px;
}

#top-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#email-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#phone-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--primary-text);
}

a {
    text-decoration: none;
    color: var(--primary-text);
}

a:hover {
    text-decoration: underline;
}

ul a:hover {
    text-decoration: none;
}

.inactive {
    display: none;
}

#main-content-container {
    color: var(--primary-text);
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10vh;
}

#search-tabs {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 3vh;
}

.tab {
    padding: 5px;
    border-radius: 20px;
}

.tab:hover {
    cursor: pointer;
}

.tab.selected {
    background-color: var(--sky-blue);
    color: var(--white);
    box-shadow: 5px 5px 10px var(--transparent-black);
}

#searchbox {
    border-color: var(--primary-text);
    border-style: solid;
    border-width: 2px;
    padding: 2%;
}

/* Cruise search styling */

#search-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
    row-gap: 1vh;
    margin-bottom: 3vh;
}

.cruise-dropdown {
    height: 35px;
    padding-left: 5px;
    border-radius: 10px;
}

.cruise-dropdown:focus {
    outline: none;
    border-color: var(--sky-blue);
    border-style: solid;
}

.placeholder {
    color: var(--primary-text);
}

#button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 5vh;
}

.cruise-button {
    background-color: var(--sky-blue);
    color: var(--white);
    height: 40px;
    width: 30%;
    border-width: 0px;
    border-radius: 10px;
    font-size: 1rem;
}

.cruise-button:hover {
    cursor: pointer;
}

.cruise-button:focus {
    background-color: var(--white);
    color: var(--sky-blue);
    border-color: var(--sky-blue);
    border-width: 2px;
    border-style: solid;
}

#sailings-found {
    width: 100%;
    text-align: center;
}

/* Air search styling */

#trip-type-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 3vh;
}

.trip-type:hover {
    cursor: pointer;
    color: var(--sky-blue);
}

#airport-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 3vh;
}

.air-search input {
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}

.air-search input:focus {
    outline: none;
    border-color: var(--sky-blue);
    border-style: solid;
}

.air-search select {
    height: 30px;
    border-radius: 10px;
    background-color: var(--white);
}

.air-search select:focus {
    outline: none;
    border-color: var(--sky-blue);
    border-style: solid;
}

#from-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#to-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#selection-group-one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
    margin-bottom: 3vh;
}

#selection-group-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.checkbox-set {
    display: flex;
    align-items: center;
    gap: 5px;
}

#preferred-group {
    display: flex;
}

.preferred-set {
    display: flex;
    flex-direction: column;
}

/* footer styling */

footer {
    width: 100vw;
    height: 25vh;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--primary-text);
}

.footer-link {
    color: var(--transparent-black);
}

.small-text {
    font-size: 0.8rem;
}
