* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-section {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#top-logo {
    width: 156px;
    height: 157px;
    border-radius: 21px;
}